@model eGoatDDD.Application.Goats.Models.GoatViewModel
@using eGoatDDD.Application.Breeds.Models
@using eGoatDDD.Application.Colors.Models
@using eGoatDDD.Application.Goats.Models


@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

@if (Model != null)
{
    @if (Model.Goat.DisposalId is { })
    {
        <div class="row">
            <div class="col col-12">
                <div class="alert alert-danger display-4 text-center small">
                    Disposed
                </div>
            </div>
        </div>
    }

    <form asp-action="Edit" class="edit" enctype="multipart/form-data">
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-6">
                <h4 class="text-muted display-4">Details</h4>
                <div class="row">
                    <div class="col col-12 code"><div class="error small font-italic alert alert-danger d-none text-align-center m-auto"></div></div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="small">Color</label>
                            <select class="form-control" required data-val-required="The field is required." data-val="true" name="ColorId" id="ColorId">
                                <option value="" selected="selected">
                                    Tag color
                                </option>
                                @foreach (ColorDto item in (List
                             <ColorDto>
                                 )ViewData["Colors"])
                                {
                                    if (Model.Goat.Color.Id == item.Id)
                                    {
                                        <option value="@item.Id" selected="selected"> @item.Name</option>
                                    }

                                    else
                                    {
                                        <option value="@item.Id"> @item.Name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="small">Code</label>
                            <input name="Code" asp-for="Goat.Code" required class="form-control" placeholder="Code" id="Code" value="@(Model.Goat.Code)" />
                            <span asp-validation-for="Goat.Code" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="small d-block" asp-for="Goat.Gender">Gender</label>

                            @if (Model.Goat.Gender == 'M')
                            {
                                <label>
                                    <input asp-for="Goat.Gender" type="radio" value="M" checked="checked" /> Male
                                </label>
                            }

                            else
                            {
                                <label>
                                    <input asp-for="Goat.Gender" type="radio" value="M" /> Male
                                </label>
                            }

                            @if (Model.Goat.Gender == 'F')
                            {
                                <label>
                                    <input asp-for="Goat.Gender" type="radio" value="F" checked="checked" /> Female
                                </label>
                            }

                            else
                            {
                                <label>
                                    <input asp-for="Goat.Gender" type="radio" value="F" /> Female
                                </label>
                            }

                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="small" asp-for="Goat.BirthDate">Birth Date</label>
                            <div class='input-group'>
                                <input required asp-for="Goat.BirthDate" id='birthdate' asp-format="{0:dd/MM/yyyy}" value="@Model.Goat.BirthDate.Value.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                                <span asp-validation-for="Goat.BirthDate" class="text-danger"></span>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="small" asp-for="Goat.Description">Description</label>
                    <span asp-validation-for="Goat.Description" class="text-danger"></span>
                    <textarea class="form-control"
                              asp-for="Goat.Description"
                              rows="3"
                              cols="20">@(Model.Goat.Description)</textarea>
                </div>


            </div>
            <div class="col col-12 col-md-6">
                @{

                    long sireId = 0;
                    long maternalId = 0;

                    var parents = Model.Goat.Parents;

                    if (parents != null)
                    {
                        var sire = parents.Where(g => g.Parent.Gender == 'M').SingleOrDefault();
                        if (sire != null)
                        {
                            sireId = sire.ParentId;
                        }
                        var maternal = parents.Where(g => g.Parent.Gender == 'F').SingleOrDefault();
                        if (maternal != null)
                        {
                            maternalId = maternal.ParentId;
                        }

                    }
                    <h4 class="text-muted display-4">Parents <span class="small">(if applicable)</span><i class="fa fa-envelope-o"><!-- empty --></i></h4>
                    <div class="row">
                        <div class="col col-12">
                            <div class="row">
                                <div class="col col-6">
                                    <div class="form-group parent-container">
                                        <label class="small">Sire</label>
                                        <select class="form-control" name="SireId" id="SireId">
                                            <option value="" selected="selected">
                                                Sire
                                            </option>
                                            @foreach (GoatDto item in (List
                                        <GoatDto>
                                            )ViewData["Sires"])
                                            {
                                                if (sireId > 0)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Color.Name - @item.Code </option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Color.Name - @item.Code </option>
                                                }
                                            }

                                        </select>

                                        <div class="goat-info-wrapper">
                                            <span class="close d-none">close</span>
                                            <div class="table-info"></div>
                                            <div class="table-breeds"></div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col col-6">
                                    <div class="form-group parent-container">
                                        <label class="small">Maternal</label>
                                        <select class="form-control" name="MaternalId" id="MaternalId">
                                            <option value="" selected="selected">
                                                Maternal
                                            </option>
                                            @foreach (GoatDto item in (List
                                        <GoatDto>
                                            )ViewData["Maternals"])
                                            {

                                                if (maternalId > 0)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Color.Name - @item.Code </option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Color.Name - @item.Code </option>
                                                }
                                            }

                                        </select>
                                        <div class="goat-info-wrapper">
                                            <span class="close d-none">close</span>
                                            <div class="table-info"></div>
                                            <div class="table-breeds"></div>
                                        </div>

                                    </div>

                                </div>

                            </div>


                            <div class="form-group siblings">
                                <h4 class="text-muted display-4">Siblings</h4>
                                <div class="list">
                                    <span class="info font-italic small">None</span>
                                    <div class="siblings-table">
                                        @foreach (var sibling in Model.Goat.Siblings.Goats)
                                        {
                                            <div class="row small">

                                                @if (sibling.GoatResources is { })
                                                {
                                                    <div class="col col-4 col-xs-6 text-align-center">
                                                        <img height="50" src="@string.Concat("/",sibling.GoatResources.FirstOrDefault().Location,"/", sibling.GoatResources.FirstOrDefault().Filename)" />
                                                        <br />Tag Code: <strong>@string.Concat(sibling.Color.Name, ' ', sibling.Code)</strong>

                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col col-12" id="breeds">
                            <h4 class="text-muted display-4">Breeds</h4>
                            <button type="button" id="add_breed" class="add-breed"><i class="fas fa-plus-circle"><!--empty--></i></button>

                            @if (Model.Goat.GoatBreeds.Count() > 0)
                            {
                                @foreach (var itemBreed in Model.Goat.GoatBreeds)
                                {
                                    <div class="row breed-wrapper">

                                        <div class="col col-6 breed-type">
                                            <div class="form-group">
                                                <select required class="form-control breedid" name="BreedId[]" data-ctr="0">
                                                    <option value="">
                                                        Breed Type
                                                    </option>
                                                    @foreach (BreedDto itemOptionBreeds in (List
                                                <BreedDto>
                                                    )ViewData["Breeds"])
                                                    {
                                                        if (itemBreed.Breed.Id == itemOptionBreeds.Id)
                                                        {
                                                            <option value="@itemOptionBreeds.Id" selected="selected">@itemOptionBreeds.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@itemOptionBreeds.Id">@itemOptionBreeds.Name</option>
                                                        }

                                                    }
                                                </select>
                                                <div class="table">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-6">
                                            <div class="form-group">
                                                <input requied type="number" class="breedpercent" data-ctr="0" name="BreedPercent[]" value="@itemBreed.Percentage" step="0.01" /> <button type="button" class="d-none remove_breed remove-breed"><i class="fas fa-minus-circle"><!--empty--></i></button>
                                            </div>

                                        </div>
                                    </div>
                                }



                            }
                            else
                            {
                                <div class="row breed-wrapper">

                                    <div class="col col-6 breed-type">
                                        <div class="form-group">
                                            <select required class="form-control breedid" name="BreedId[]" data-ctr="0">
                                                <option value="" selected="selected">
                                                    Breed Type
                                                </option>
                                                @foreach (BreedDto itemOptionBreeds in (List
                                            <BreedDto>
                                                )ViewData["Breeds"])
                                                {
                                                    <option value="@itemOptionBreeds.Id">@itemOptionBreeds.Name</option>

                                                }
                                            </select>
                                            <div class="table">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-6">
                                        <div class="form-group">
                                            <input requied type="number" class="breedpercent" data-ctr="0" name="BreedPercent[]" value="0.00" step="0.01" /> <button type="button" class="d-none remove_breed">Remove</button>
                                        </div>

                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                }
            </div>
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col col-12 goatImagesWrapper">
                        <h4 class="text-muted display-4">Resources</h4>


                        <div class="form-group position-relative">
                            <label class="small d-block">Images</label>

                            <span class="thumbs images">
                                @if (Model.Goat.GoatResources != null)
                                {
                                    foreach (var resource in Model.Goat.GoatResources)
                                    {
                                        <img class="w-100" src="/@(resource.Location)/@(resource.Filename)" />
                                    }
                                }

                            </span>
                            @if (Model.Goat.GoatResources != null)
                            {
                                <div class="goatImages custom-file invisible">
                                    <input name="Files" type="file" class="custom-file-input" id="goatImages" multiple>
                                    <label class="custom-file-label" for="customFile">Choose files</label>
                                </div>
                                <span class="images close"><i class="far fa-trash-alt"><!-- empty --></i></span>


                            }
                            else
                            {
                                <div class="goatImages custom-file">
                                    <input name="Files" type="file" class="custom-file-input" id="goatImages" multiple>
                                    <label class="custom-file-label" for="customFile">Choose files</label>
                                </div>
                                <span class="images close invisible"><i class="far fa-trash-alt"><!-- empty --></i></span>

                            }
                        </div>
                    </div>
                </div>
                <div class="row lineage d-none">
                    <div class="col col-12 goatImageWrapper">
                        <div class="form-group">
                            TODO:// Lineage org graph
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                    <input asp-for="Goat.Id" type="hidden" required id="Id" value="@(Model.Goat.Id)" />
                    <input type="submit" value="Save" name="Save" class="btn btn-default mr-3" id="Submit" />
                    <a href="/Goat/Index" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>


    </form>
    @*
        TODO://multiple images per gaots
            https://tutorialzine.com/2013/05/mini-ajax-file-upload-form
    *@
}


@section scripts{
    <script type="text/javascript">
        (function ($) {

            function detail(input) {

                var $this = input;

                // display maternal and paternal
                // after changing val
                var parent_container = $this.parents(".parent-container");

                $.ajax({
                    type: "POST",
                    url: '/api/goat',
                    data: { Id: $this.val() },
                }).done(function (result) {

                    console.log(result);

                    if (result.error == 0) {

                        if (result.response.goat.goatResources != null) {
                            var table = $('<table  class="small" />');
                            var row = "";

                            row = $('<tr/>');
                            row.append('<td class="w-25 text-align-center"><img width="100%" src="/' + result.response.goat.goatResources[0]["location"] + '/' + result.response.goat.goatResources[0]["filename"] + '"/><br class="d-none" /><span class="red d-none">' + result.response.goat.id + '</span></td>');
                            row.append('<td><strong>' + result.response.goat.color.name + ' ' + result.response.goat.code + '</strong></td>');

                            table.append(row);

                            $(parent_container).find(".table-info").html(table);
                        }

                        var table = $('<table  class="small w-100" />');
                        $(result.response.goat.goatBreeds).each(function () {
                            row = $('<tr/>');
                            row.append('<td class="w-25">' + this.breed.name + ' : ' + this.percentage + '</td>');
                            table.append(row);
                        });

                        $(parent_container).find(".table-breeds").html(table);

                        $(parent_container).find(".close").removeClass("d-none");

                        $this.hide();

                    } else {
                        $this.show();
                        $(parent_container).find(".close").addClass("d-none");
                        $(parent_container).find(".table-breeds").empty();
                        $(parent_container).find(".table-info").empty();

                    }
                });
            }

            function parent() {
                // suggestion
                // get the breeds from parents
                $.ajax({
                    type: "POST",
                    url: '/api/goat/parent-breeds',
                    data: { maternalId: $('#MaternalId').val(), sireId: $('#SireId').val() },
                }).done(function (parent_breeds) {

                    if (parent_breeds.breeds != null) {
                        if (parent_breeds.breeds.length == 1) {
                            $("#breeds .breedid").val(parent_breeds.breeds[0].id);
                            $("#breeds .breedpercent").val(parent_breeds.breeds[0].percentage);
                        } else {
                            $(parent_breeds.breeds).each(function (i) {
                                $("#breeds .breedid").eq(i).val(parent_breeds.breeds[i].id);
                                $("#breeds .breedpercent").eq(i).val(parent_breeds.breeds[i].percentage);

                                if (i < ($(parent_breeds.breeds).length - 1)) {
                                    $('#add_breed').trigger("click");
                                }
                            });
                        }
                    }
                });
            }

            function sibling() {
                // siblings
                $.ajax({
                    type: "POST",
                    url: '/api/goat/siblings',
                    data: { maternalId: $("#MaternalId").val(), sireId: $("#SireId").val(), goatId: $("#Id").val() },
                }).done(function (response) {
                    if (response.error == 0) {
                        $('.siblings .list .siblings-table').empty();
                        $(".siblings .list .info").addClass("d-none");

                        var div = $('<div class="row small"/>');
                        $(response.goats).each(function () {

                            var inner_div = $('<div class="col col-4 col-xs-6 text-align-center" />');
                            if (this.goatResources.length > 0) {
                                console.log(this.goatResources[0]);
                                inner_div.append('<img width="auto" height="50px" src="/' + this.goatResources[0].resource.location + '/' + this.goatResources[0].resource.filename + '"/>');
                                inner_div.append('<br /> ');
                            }
                            inner_div.append('Goat Id: ' + this.id);
                            inner_div.append('<br />Tag Code: <strong>' + this.color.name + ' ' + this.code + '</strong>');

                            div.append(inner_div);
                        });

                        $('.siblings .list .siblings-table').html(div);

                    } else {
                        $('.siblings .list .siblings-table').empty();
                        $(".siblings .list .info").removeClass("d-none");
                    }
                });
            }

            function breed(firstLoad = true) {

                var breeds_added = $(".breed-wrapper.added");

                breeds_added.remove();

                // suggestion
                // get the breeds from parents
                $.ajax({
                    type: "POST",
                    url: '/api/goat/parent-breeds',
                    data: { maternalId: $('#MaternalId').val(), sireId: $('#SireId').val() },
                }).done(function (parent_breeds) {

                    if (parent_breeds.breeds != null) {
                        if (parent_breeds.breeds.length == 1) {
                            $("#breeds .breedid").val(parent_breeds.breeds[0].id);
                            $("#breeds .breedpercent").val(parent_breeds.breeds[0].percentage);
                        } else {
                            $(parent_breeds.breeds).each(function (i) {

                                if ((i > 0) && (i < ($(parent_breeds.breeds).length - 1))) {
                                    $('#add_breed').trigger("click");
                                }

                                $("#breeds .breedid").eq(i).val(parent_breeds.breeds[i].id);
                                $("#breeds .breedpercent").eq(i).val(parent_breeds.breeds[i].percentage);

                            });
                        }
                    } else {
                        if (!firstLoad) {
                            $("#breeds .breedid").val("");
                            $("#breeds .breedpercent").val("0");
                        }
                    }

                    firstLoad = false;
                });
            }

            $(document).ready(function () {

                firstLoad = true;

                detail($('#MaternalId'));

                detail($('#SireId'));

                // parent();

                // sibling();

                $('#ColorId, #Code').on('change', function (event) {
                    $.ajax({
                        type: "POST",
                        url: '/api/goat/code',
                        data: { colorId: $("#ColorId").val(), code: $("#Code").val() },
                    }).done(function (response) {
                        if (response.error == 0) {
                            $(".code .error").addClass('d-none').removeClass('d-inline-block');
                            $("#Submit").removeAttr("disabled");
                        } else {
                            $(".code .error").removeClass('d-none').addClass('d-inline-block').html(response.response);
                            $("#Submit").attr("disabled", "disabled");
                        }
                    });
                });

                $('#MaternalId, #SireId').on('change', function (event) {
                    detail($(this));

                    parent();

                    sibling();

                    breed();
                });

                // parents container
                $(".close").on("click", function () {
                    var parent_container = $(this).parents(".parent-container");
                    $(parent_container).find("select").val("");
                    $(parent_container).find("select").show();
                    $(parent_container).find(".close").addClass("d-none");
                    $(parent_container).find(".table-breeds").empty();
                    $(parent_container).find(".table-info").empty();

                    sibling();

                    breed();
                });

                // add/remove breed
                // goat creation
                $('#add_breed').on('click', function (event) {

                    var breed_clone = $('#breeds .breed-wrapper').first().clone(true)
                        .addClass("added")
                        .find(".breedpercent").val("0.00").end()
                        .find(".breedid").val("").end()
                        .find(".remove_breed").removeClass("d-none").end();

                    $('#breeds').append(breed_clone);

                });

                $('.remove_breed').on('click', function (event) {
                    var breed_for_remove = $('#breeds .breed-wrapper').last().remove();
                });

                // images
                $(".close.images").on("click", function () {
                    $(this).addClass("invisible");
                    $(".goatImagesWrapper .images.thumbs").empty();
                    $("#goatImages").attr('required', "required");
                    $(".goatImages").removeClass("invisible").val("").show();
                });

                // main goat images
                $("#goatImages").change(function () {
                    if (typeof (FileReader) != "undefined") {
                        var dvPreview = $(".goatImagesWrapper .images.thumbs");
                        dvPreview.html("");
                        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                        $($(this)[0].files).each(function () {
                            var file = $(this);
                            if (regex.test(file[0].name.toLowerCase())) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var img = $("<img />");
                                    // img.attr("style", "height:100px;width: 100px");
                                    img.addClass("w-100");
                                    img.attr("src", e.target.result);
                                    dvPreview.append(img);
                                }
                                reader.readAsDataURL(file[0]);

                                $(".goatImages").hide();
                                $(".close.images").removeClass("invisible");
                            } else {
                                alert(file[0].name + " is not a valid image file.");
                                dvPreview.html("");
                                return false;
                            }
                        });
                    } else {
                        alert("This browser does not support HTML5 FileReader.");
                    }
                });
            });
        })(jQuery);
    </script>
}

