@model eGoatDDD.Application.Goats.Models.GoatsListNonDtoViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


@{
    ViewData["Title"] = "View";
}

@if (Model != null)
{
    var totalPages = (int)ViewData["TotalPages"];

    @foreach (var (item, ctr) in Model.Goats.Select((v, i) => (v, i)))
    {
        var row = "bg-light";

        if (ctr % 2 == 0)
        {
            row = "";
        }

        <div class="row p-3 @(row)">
            <div class="col col-12 col-md-5 col-sm-6 mb-3 mb-lg-0 mb-mb-1 mb-sm-1 text-align-center">
                <div class="row mb-1 mb-lg-3 mb-md-2 small">
                    <div class="col col-md-5 col-sm-6 text-align-center">

                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanEdits")).Succeeded)
                        {
                            <a asp-controller="Goat" asp-action="Edit" asp-route-goatId="@(item.Id)">

                                @if (item.Resources != null)
                                {
                                    <div class="row">
                                        @foreach (var (resource, index) in item.Resources.Select((v, i) => (v, i)))
                                        {
                                            @if (index == 0)
                                            {
                                                <div class="col-md-12">
                                                    <img class="w-100" src="/@(resource.Location)/@(resource.Filename)" />
                                                </div>
                                            }                                       }
                                    </div>
                                }
                                <br />
                                @item.Color.Name @item.Code
                            </a>
                        }
                        else
                        {
                            @if (item.Resources != null)
                            {
                                <div class="row">
                                    @foreach (var (resource, index) in item.Resources.Select((v, i) => (v, i)))
                                    {
                                        @if (index == 0)
                                        {
                                            <div class="col-md-12">
                                                <img class="w-100" src="~/@(resource.Location)/@(resource.Filename)" />
                                            </div>
                                        }
                                    }
                                </div>
                            }
                            <br />
                            @item.Color.Name @item.Code
                        }

                    </div>
                    <div class="col col-md-7 col-sm-6">
                        <div class="row mb-1">
                            <div class="col col-12">
                                @{
                                    var birthdate = item.BirthDate.HasValue ? item.BirthDate.Value : DateTime.Now;

                                    DateTime date1 = birthdate;
                                    DateTime date2 = DateTime.Now;

                                    int oldMonth = date2.Month;
                                    while (oldMonth == date2.Month)
                                    {
                                        date1 = date1.AddDays(-1);
                                        date2 = date2.AddDays(-1);
                                    }

                                    int years = 0, months = 0, days = 0, hours = 0, minutes = 0, seconds = 0, milliseconds = 0;

                                    // getting number of years
                                    while (date2.CompareTo(date1) >= 0)
                                    {
                                        years++;
                                        date2 = date2.AddYears(-1);
                                    }
                                    date2 = date2.AddYears(1);
                                    years--;


                                    // getting number of months and days
                                    oldMonth = date2.Month;
                                    while (date2.CompareTo(date1) >= 0)
                                    {
                                        days++;
                                        date2 = date2.AddDays(-1);
                                        if ((date2.CompareTo(date1) >= 0) && (oldMonth != date2.Month))
                                        {
                                            months++;
                                            days = 0;
                                            oldMonth = date2.Month;
                                        }
                                    }
                                    date2 = date2.AddDays(1);

                                    <span><strong>@years</strong> Year  <strong>@months</strong> Month  <strong>@days</strong> Days</span>
                                }

                            </div>

                            <div class="col col-12">
                                Birthdate: @item.BirthDate?.ToString("dd MMM yyyy")
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col col-12">
                                Gender: @(item.Gender == 'M' ? "Male" : "Female")
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <strong>Breeds</strong>
                            </div>
                        </div>
                        @if (item.Breeds != null)
                        {
                            foreach (var breed in item.Breeds)
                            {
                                <div class="row">

                                    <div class="col col-2 col-xs-12">
                                        @breed.Percentage<em>%</em>
                                    </div>
                                    <div class="col col-8 col-xs-12">
                                        @breed.Name
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
            <div class="col col-12 col-md-7 col-sm-6 small">
                <div class="row">
                    <div class="col col-12 col-md-4 col-sm-4">
                        <div class="service-wrapper">
                            <div class="latest">
                                <div class="row">
                                    <div class="col col-6">
                                        <div class="service-type"></div>
                                    </div>
                                    <div class="col col-6">
                                        <div class="service-category"></div>
                                    </div>
                                    <div class="col col-6">
                                        <div class="service-start"></div>
                                    </div>
                                    <div class="col col-6">
                                        <div class="service-end"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="service-description"></div>
                                    </div>
                                </div>
                            </div>
                            @if ((await AuthorizationService.AuthorizeAsync(User, "CanEdits")).Succeeded)
                            {
                                <button class="add service">Add service</button>
                            }
                            <div class="fields d-none">
                                <select name="type">
                                    <option value="Medical">Medical</option>
                                </select>
                                <select name="category">
                                    <option value="Vaccine">Vaccine</option>
                                    <option value="Deworm">Deworm</option>
                                </select>

                                <input name="start" type="date" value="@DateTime.Now.ToString(" mm-dd-yyyy")" />
                                <input name="end" type="date" value="@DateTime.Now.ToString(" mm-dd-yyyy")" />

                                <textarea name="description" rows="2" cols="25" placeholder="short description."></textarea>
                                <input name="goat" type="hidden" value="@item.Id" />
                                <input type="submit" name="submit" value="submit" />
                                <button class="close service"><i class="far fa-window-close"><!-- empty --></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-md-3 col-sm-3">
                        @if (item.Parents.Goats != null)
                        {
                            <strong>Parents</strong>

                            foreach (var parent in item.Parents.Goats)
                            {
                                <div class="row">
                                    @if (parent.Resource != null)
                                    {
                                        <div class="col col-6 col-xs-6">
                                            <img height="50" src="~/@(parent.Resource.Location)/@(parent.Resource.Filename)" />
                                        </div>
                                    }
                                    <div class="col col-6 col-xs-6">
                                        <span class="small flex-nowrap">@parent.ColorName @parent.Code</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                @if (item.Resources != null)
                {

                    <div class="row pt-3">
                        @if (item.Resources.Count() > 1)
                        {
                            @foreach (var (resource, index) in item.Resources.Select((v, i) => (v, i)))
                            {
                                if (index == 0)
                                {
                                    continue;
                                }

                                <div class="col col-4">
                                    <img height="75" src="~/@(resource.Location)/@(resource.Filename)" />
                                </div>
                            }
                        }

                    </div>
                }
            </div>
        </div>
    }

    @if (totalPages > 1)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                @for (int i = 1; i <= totalPages; i++)
                {
                    if (i == 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Goat/Index/1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }
                    <li class="page-item"><a class="page-link" href="/Goat/Index/@i">@i</a></li>

                    if (i == totalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Goat/Index/@totalPages" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
    }
}

@section scripts{
    <script type="text/javascript">
        (function ($) {
            $.date = function (dateObject) {
                var d = new Date(dateObject);
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();
                if (day < 10) {
                    day = "0" + day;
                }
                if (month < 10) {
                    month = "0" + month;
                }
                var date = month + "-" + day + "-" + year;

                return date;
            };

            $(document).ready(function () {

                $(".add.service").on("click", function () {

                    var container = $(this).parents(".service-wrapper");

                    container.find(".fields").removeClass("d-none");

                });

                $(".close.service").on("click", function () {

                    var container = $(this).parents(".service-wrapper");

                    container.find(".fields").addClass("d-none");

                });

                $("input[type='submit']").on("click", function () {
                    var container = $(this).parents(".service-wrapper");

                    var $type = container.find("select[name='type']").val();
                    var $category = container.find("select[name='category']").val();
                    var $goat = container.find("input[name='goat']").val();
                    var $description = container.find("textarea[name='description']").val();
                    var $start = container.find("input[name='start']").val();
                    var $end = container.find("input[name='end']").val();
                    $.ajax({
                        type: "POST",
                        url: '/api/service/put',
                        data: { GoatId: $goat, Type: $type, Category: $category, Description: $description, Start: $start, End: $end },
                    }).done(function (result) {
                        container.find(".latest").find(".service-type").html(result.service.type);
                        container.find(".latest").find(".service-description").html(result.service.description);
                        container.find(".latest").find(".service-category").html(result.service.category);

                        container.find(".latest").find(".service-start").html($.date(result.service.start));
                        container.find(".latest").find(".service-end").html($.date(result.service.end));

                    });
                    container.find(".fields").addClass("d-none");
                });


                $(".service-wrapper").each(function () {
                    var container = $(this);

                    var $goat = container.find("input[name='goat']").val();

                    $.ajax({
                        type: "POST",
                        url: '/api/service',
                        data: { GoatId: $goat },
                    }).done(function (result) {

                        if (!result.error) {
                            container.find(".latest").find(".service-type").html(result.service.type);
                            container.find(".latest").find(".service-description").html(result.service.description);
                            container.find(".latest").find(".service-category").html(result.service.category);

                            container.find(".latest").find(".service-start").html($.date(result.service.start));
                            container.find(".latest").find(".service-end").html($.date(result.service.end));
                        }
                    });

                });
            });

        })(jQuery);
    </script>
}