@model eGoatDDD.Application.Goats.Models.GoatViewModel
@using eGoatDDD.Domain.Constants

@{
    ViewData["Title"] = "Goat";
}

@if (Model != null)
{
    <div class="row">
        <div class="col col-12">
            <a class="btn btn-primary" href="~/Goat/Edit?goatId=@(Model.Goat.Id)">Edit</a> |  <a href="~/Goat/Index">Back to Goat Listing</a>
        </div>
    </div>
    @if (Model.Goat.DisposalId is { })
    {
        <div class="row">
            <div class="col col-12">
                <div class="alert alert-danger display-4 text-center small">
                    Disposed
                </div>
            </div>
            <div class="col col-12">
                <div class="alert alert-danger display-4 text-center small">
                    <div class="disposal-container">
                        <table class="table table-bordered small">
                            <tr>
                                <td class="small">Type</td>
                                <td class="small">@Enum.GetName(typeof(DisposeType), Model.Goat.Disposal.Type)</td>
                            </tr>
                            <tr><td class="small">Reason</td><td class="small">@Model.Goat.Disposal.Reason</td></tr>
                            <tr><td class="small">Disposed on</td><td class="small">@Model.Goat.Disposal.DisposedOn.ToString("MM-dd-yyyy")</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="w-100 goat-detail-wrapper">
                <h4 class="text-muted display-4">Details</h4>
                <div class="row">
                    <div class="col col-12 code"><div class="error small font-italic alert alert-danger d-none text-align-center m-auto"></div></div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="small">Color</label> <strong>@Model.Goat.Color.Name</strong>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="small">Code</label> <strong>@Model.Goat.Code</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="small d-block">Gender</label>

                            @if (Model.Goat.Gender == 'M')
                            {
                                <strong>
                                    Male
                                </strong>
                            }

                            @if (Model.Goat.Gender == 'F')
                            {
                                <strong>
                                    Female
                                </strong>
                            }

                        </div>
                    </div>
                    <div class="col col-6">
                        <label class="small">Birth Date</label>
                        <div class="form-group">
                            @Model.Goat.BirthDate.Value.ToString("yyyy-MM-dd")
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Goat.Description))
                {
                    <div class="form-group">
                        <label class="small" asp-for="Goat.Description">Description</label>
                        @Model.Goat.Description
                    </div>
                }
            </div>
            @if (Model.Goat.GoatResources != null)
            {
                <div class="w-100 goat-resources-wrapper">

                    <div class="row">
                        <div class="col col-12 goatImagesWrapper">
                            <h4 class="text-muted display-4"><i class="fa fa-camera"></i> Resources</h4>


                            <div class="form-group position-relative">
                                <span class="thumbs images">
                                    @foreach (var resource in Model.Goat.GoatResources)
                                    {
                                        <img class="w-100" src="/@(resource.Location)/@(resource.Filename)" />
                                    }
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="col col-12 col-md-6">
            @{

                long sireId = 0;
                long maternalId = 0;

                var parents = Model.Goat.Parents;

                if (parents != null)
                {
                    var sire = parents.Where(g => g.Parent.Gender == 'M').SingleOrDefault();
                    if (sire != null)
                    {
                        sireId = sire.ParentId;
                    }
                    var maternal = parents.Where(g => g.Parent.Gender == 'F').SingleOrDefault();
                    if (maternal != null)
                    {
                        maternalId = maternal.ParentId;
                    }

                }
                <h4 class="text-muted display-4">Parents <span class="small">(if applicable)</span></h4>
                <div class="row">
                    <div class="col col-12">
                        <div class="row">
                            <div class="col col-6">
                                <div class="form-group parent-container">
                                    <label class="small">Sire</label>

                                    @if (sireId > 0)
                                    {
                                        <input type="hidden" name="SireId" id="SireId" value="@sireId">
                                        <div class="parent-goat-info">
                                            <div class="card d-none bg-transparent">
                                                <div class="card-img"></div>

                                                <div class="card-footer bg-transparent small text-center text-light p-1">
                                                    <div class="goat-info">

                                                    </div>
                                                    <div class="goat-breeds">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>

                            <div class="col col-6">
                                <div class="form-group parent-container">
                                    <label class="small">Maternal</label>

                                    @if (maternalId > 0)
                                    {
                                        <input type="hidden" name="MaternalId" id="MaternalId" value="@maternalId">
                                        <div class="parent-goat-info">
                                            <div class="card d-none bg-transparent">
                                                <div class="card-img"></div>

                                                <div class="card-footer bg-transparent small text-center text-light p-1">
                                                    <div class="goat-info">

                                                    </div>
                                                    <div class="goat-breeds">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }


                                </div>

                            </div>

                        </div>


                        <div class="form-group siblings">
                            <h4 class="text-muted display-4">Siblings</h4>
                            <div class="list">
                                <div class="siblings-table">
                                    @if (Model.Goat.Siblings is { })
                                    {
                                        <div class="row small">

                                            @foreach (var sibling in Model.Goat.Siblings.Goats)
                                            {

                                                @if (sibling.GoatResources is { })
                                                {
                                                    <div class="col col-4 col-md-3 mb-2 mb-md-3 text-align-center">
                                                        <a href="~/Goat/Get/@sibling.Id">
                                                            <img height="50" src="@string.Concat("/",sibling.GoatResources.FirstOrDefault().Location,"/", sibling.GoatResources.FirstOrDefault().Filename)" />
                                                            <br /><strong>@string.Concat(sibling.Color.Name, ' ', sibling.Code)</strong>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        </div>

                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col col-12" id="breeds">
                        <h4 class="text-muted display-4">Breeds</h4>

                        @if (Model.Goat.GoatBreeds.Count() > 0)
                        {
                            <table class="table table-bordered table-hover bg-light small">
                                @foreach (var itemBreed in Model.Goat.GoatBreeds)
                                {
                                    <tr>
                                        <td class="small">@itemBreed.Breed.Name</td>
                                        <td class="small">@itemBreed.Percentage<text>%</text></td>
                                    </tr>

                                }
                            </table>

                        }


                    </div>
                </div>
            }
        </div>

    </div>

}

@section scripts{
    <script type="text/javascript">
        (function ($) {
            function detail(input) {

                var $this = input;

                // display maternal and paternal
                // after changing val
                var parent_container = $this.parents(".parent-container");

                $.ajax({
                    type: "POST",
                    url: '/api/goat',
                    data: { Id: $this.val() },
                }).done(function (result) {

                    if (result.error == 0) {

                        if (result.response.goat != null) {

                            var parent_card = parent_container.find(".parent-goat-info .card");

                            parent_card.removeClass("d-none");

                            if (result.response.goat.goatResources != null) {
                                parent_card.find(".card-img").html("<a href='/Goat/Get/" + result.response.goat.id + "'><img class='w-100' src='/" + result.response.goat.goatResources[0].location + "/" + result.response.goat.goatResources[0].filename + "'/></a>");
                            }

                            parent_card.find(".card-footer .goat-info").html("<a href='/Goat/Get/" + result.response.goat.id + "'><span class='text-primary'>" + result.response.goat.color.name + " " + result.response.goat.code + "</span></a>");

                            var table = $('<table  class="small w-100" />');

                            $(result.response.goat.goatBreeds).each(function (k, b) {
                                row = $('<tr class="bg-warning mt-2" />');
                                row.append('<td class="small text-light p-1">' + b.breed.name + '</td><td class="small text-light p-1">' + b.percentage + '</td>');
                                table.append(row);
                            });

                            parent_card.find(".card-footer .goat-breeds").html(table);

                        }

                        var table = $('<table  class="small w-100" />');
                        $(result.response.goat.goatBreeds).each(function () {
                            row = $('<tr/>');
                            row.append('<td class="w-25">' + this.breed.name + ' : ' + this.percentage + '</td>');
                            table.append(row);
                        });

                        $(parent_container).find(".table-breeds").html(table);

                        $(parent_container).find(".close").removeClass("d-none");

                        $this.hide();

                    } else {
                        $this.show();
                        $(parent_container).find(".close").addClass("d-none");
                        $(parent_container).find(".table-breeds").empty();
                        $(parent_container).find(".table-info").empty();

                    }
                });
            }


            $(document).ready(function () {


                detail($('#MaternalId'));

                detail($('#SireId'));
            });
        })(jQuery);
    </script>
}