@using Microsoft.EntityFrameworkCore
@using System.Linq
@model eGoatDDD.Application.Loans.Models.LoansListViewModel

<br />
<br />
<br />
<br />

<h2>@ViewData["Title"]</h2>

@if (Model != null && Model.CreateEnabled == false)
{
    @foreach (var item in Model.Loans)
    {<div class="row" style="margin-bottom:2.5em;padding:2.5em;border:5px solid red">
        <div class="col- col-lg-8 col-md-8 col-sm-8 col-xs-6">
            @item.LoanId<br />
            Status: @item.LoanDetail.Status
        </div>
        <div class="col- col-lg-4 col-md-4 col-sm-4 col-xs-6">

            @if (ViewData["Role"].Equals("Lessee"))
            {
                var isApplicant = item.Applicants.Where(a => a.ApplicantLesseeId.Equals((string)ViewData["UserId"])).Count();

                // broadcasted
                // is not applicant
                @if (item.LoanDetail.Status == 1 && isApplicant <= 0)
                {
                    {
                        @using (Html.BeginForm("Apply", "Loan", FormMethod.Post, new { @class = "apply" }))
                        {
                            <div>
                                <input type="submit" value="Apply" />
                                <input type="hidden" name="LoanId" value="@item.LoanId" />
                            </div>
                        }

                    }
                }
                else if (item.LoanDetail.Status == 2 && isApplicant >= 1)
                {
                    @using (Html.BeginForm("ApplyCommit", "Loan", FormMethod.Post, new { @class = "apply-commit" }))
                    {
                        <input type="submit" name="submit" value="Commit" />
                        <input type="hidden" name="Status" value="3" />
                        <span>Commit to this Loan. Once the Lender finalized. You should be pennies richer.</span>
                        <a href="/">Terms and conditions</a>
                        <a href="/">Social rules. meetups and etc. videos and etc explaining the social aspects.</a>
                        <a href="/">Warnings</a>
                        // penalized, if the user is already
                        // on Lender's approval status 3
                        // this deters applicants from
                        // cancelling everytime
                        //
                        // protects the lender's interest on going thru the hassle of checking
                        // then get's rejected just easily
                        <input type="hidden" name="LoanId" value="@item.LoanId" />
                        <input type="hidden" name="ProductId" value="@item.LoanDetail.ProductId" />
                        <input type="hidden" name="LenderId" value="@item.LoanDetail.LenderId" />
                    }
                }
                else if (item.LoanDetail.Status == 4)
                {
                   
                    @using (Html.BeginForm("Receipt", "Payment", FormMethod.Post, new { @class = "receipt" }))
                    {
                        <input type="file" name="ReceiveLoanSelfie" />
                        <input type="submit" name="submit" value="Receive Loan Selfie" />
                    }
                }
            }

            @if (ViewData["Role"].Equals("Lender"))
            {
                @if (item.LoanDetail.LenderId.Equals((string)ViewData["UserId"]) && (item.LoanDetail.Status == 1 || item.LoanDetail.Status == 2 || item.LoanDetail.Status == 3))
                {
                    {
                        var applicants = item.Applicants.Where(l => l.LoanId == item.LoanId && l.Flag == 0);
                        // applicants
                        // all
                        // TODO:// with flags must be handled separately
                        foreach (var applicant in applicants)
                        {
                            @using (Html.BeginForm("Accept", "Loan", FormMethod.Post, new { @class = "accept" }))
                            {
                                <div>
                                    <span>@applicant.ApplicantLesseeId</span>
                                    <span>@applicant.ApplicantLessee.FirstName</span><br />
                                    <a href="/lender/profile">TODO:// hover view profile/facebook/insta/etc; history</a>

                                    @if (item.LoanDetail.Status == 1)
                                    {
                                        <input type="submit" name="submit" value="Accept" />
                                        <input type="submit" name="submit" value="+" />
                                        <input type="submit" name="submit" value="-" />
                                        // down or up vote the lessee's
                                        // lender might have bad experience or noticed
                                        // something odd in profile
                                        //
                                        // Report: will be verified by admin
                                        <input type="hidden" name="Status" value="2" />
                                    }
                                    else if (item.LoanDetail.Status == 2)
                                    {
                                        @if (applicant.ApplicantLesseeId.Equals(item.LesseeId))
                                        {
                                            <input type="submit" name="submit" value="Cancel" />
                                            <input type="hidden" name="Status" value="1" />
                                            // cancel can be
                                            // Report: submit reason behind cancellation
                                            <span>Awaiting Lessee's Acceptance</span>

                                        }
                                    }
                                    else if (item.LoanDetail.Status == 3)
                                    {
                                        @if (applicant.ApplicantLesseeId.Equals(item.LesseeId))
                                        {
                                            <input type="submit" name="submit" value="Final and Lock" />
                                            <input type="hidden" name="Status" value="4" />

                                        }

                                    }
                                    <input type="hidden" name="LoanId" value="@item.LoanId" />
                                    <input type="hidden" name="ProductId" value="@item.LoanDetail.ProductId" />
                                    <input type="hidden" name="LenderId" value="@item.LoanDetail.LenderId" />
                                    <input type="hidden" name="LesseeId" value="@applicant.ApplicantLesseeId" />
                                </div>
                            }

                            <br /><br />
                        }
                    }
                }
                else if (item.LoanDetail.LenderId.Equals((string)ViewData["UserId"]) && (item.LoanDetail.Status == 4))
                {
                    // ledger is created
                    // on-going here
                    <span>@item.LesseeId</span><a href="/">Ledger</a>
                    <span>@item.LoanDetail.Status</span>
                    // display ledger
                    // form upload the selfie
                    // on receiving the amount
                    // the lessee can upload
                    // the lender can accept, remove/replace it with finality.
                    @using (Html.BeginForm("Receipt", "Payment", FormMethod.Post, new { @class = "receipt" }))
                    {
                        <input type="file" name="ReceiveLoanSelfie" />
                        <input type="submit" name="submit" value="Receive Loan Selfie" />
                    }
                }

                <br />
            }
        </div>
      </div>
    }
}



